LOAD vhosts

SERVER max_connections = 10000

CREATE POOL s3images
  POOL s3images ADD 127.0.0.1:8081

CREATE SERVICE s3images_proxy
  SET role = reverse_proxy
  SET pool = s3images
  SET backend_persist_cache = 2
  SET verify_backend = on
  SET enable_reproxy  = true
ENABLE s3images_proxy

CREATE SERVICE web
 SET listen         = 0.0.0.0:80
 SET role           = selector
 SET plugins        = vhosts
 SET persist_client = on
 VHOST s3images.socklabs.com = s3images_proxy
 VHOST *                     = s3images_proxy
ENABLE web

CREATE SERVICE mgmt
  SET role = management
  SET listen = 127.0.0.1:8065
ENABLE mgmt
